
<!--
  ##################################################################
      ##################### PHANTOM BUSTER #############################
            ################################################################## -->

<div class="class container">
  <h1>Test API Contacts</h1>

  <% @results.each do |element| %>

    <li><%= element%></li>

  <% end %>

</div>



